
* {box-sizing: border-box}
body {
	font-family: Verdana, sans-serif; 
	margin:0;
	background-color: #F4EBD0;
}


#containerImg {
	width: 85vw;
	max-width: 1000px;
	margin: auto;
	padding: 1vw;
}

#curr_img {
	width: 100%;
}
.div_left {
	float: left;
	padding: 1vw;
}

.div_right {
	float: right;
	padding: 1vw;
}
.btn {
	font-size: 1.1em;
}

.btn:hover  {
  background-color: grey;
  color: white;
}


